:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
}

.action-button {
    margin-top: 4px;
}

.signup-section {
    margin-top: 24px;
}